{{extend './common/common.html'}}
{{block 'title'}}<title>课程管理 - 乐字节后台管理系统模板</title>{{/block}}
{{block 'name'}}课程管理{{/block}}
{{block 'head'}} 
    <!--页面主要内容-->
    <main class="lyear-layout-content">
      
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-toolbar clearfix">
                <form class="pull-right search-bar" method="get" action="#!" role="form">
                  <div class="input-group">
                    <div class="input-group-btn">
                      <input type="hidden" name="search_field" id="search-field" value="title">
                      <button class="btn btn-default dropdown-toggle" id="search-btn" data-toggle="dropdown" type="button" aria-haspopup="true" aria-expanded="false">
                      标题 <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <li> <a tabindex="-1" href="javascript:void(0)" data-field="title">标题</a> </li>
                        <li> <a tabindex="-1" href="javascript:void(0)" data-field="cat_name">栏目</a> </li>
                      </ul>
                    </div>
                    <input type="text" class="form-control" value="" name="keyword" placeholder="请输入名称">
                  </div>
                </form>
                <div class="toolbar-btn-action">
                  <a class="btn btn-primary m-r-5" href="http://localhost/system/add_doc"><i class="mdi mdi-plus"></i> 新增</a>
                  <a class="btn btn-success m-r-5" href="#!"><i class="mdi mdi-check"></i> 启用</a>
                  <a class="btn btn-warning m-r-5" href="#!"><i class="mdi mdi-block-helper"></i> 禁用</a>
                  <a class="btn btn-danger" href="#!"><i class="mdi mdi-window-close"></i> 删除</a>
                </div>
              </div>
              <div class="card-body">
                
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>
                          <label class="lyear-checkbox checkbox-primary">
                            <input type="checkbox" id="check-all"><span></span>
                          </label>
                        </th>
                        <th>编号</th>
                        <th>标题</th>
                        <th>书籍</th>
                        <th>作者</th>
                        <th>阅读量</th>
                        <th>状态</th>
                        <th>操作</th>
                      </tr>
                    </thead>
                    <tbody>
                      {{each lesson}}
                      <tr>
                        <td>
                          <label class="lyear-checkbox checkbox-primary">
                            <input type="checkbox" name="ids[]" value="1">
                            <span></span>
                          </label>
                        </td>
                        <td>{{$value.id}}</td>
                        <td>{{$value.title}}</td>
                        <td>{{$value.name}}</td>
                        <td>{{$value.teacher}}</td>
                        <td>{{$value.student}}</td>
                        {{if $value.status==1}}
                        <td><font class="text-success">正常</font></td>
                        {{/if}}
                        {{if $value.status==0}}
                        <td><font class="text-warning">下架</font></td>
                        {{/if}}
                        <td>
                          <div class="btn-group">
                            <a class="btn btn-xs btn-default" href="http://localhost/system/modify?lesson_id={{$value.id}}" title="编辑"  data-toggle="tooltip"><i class="mdi mdi-pencil"></i></a>
                            <a class="btn btn-xs btn-default" href="#!" title="查看" data-toggle="tooltip"><i class="mdi mdi-eye"></i></a>
                            <a class="btn btn-xs btn-default" href="#!" title="删除" lesson_id={{$value.id}} data-toggle="tooltip"><i class="mdi mdi-window-close"></i></a>
                          </div>
                        </td>
                      </tr>
                    {{/each}}
                    </tbody>
                  </table>
                </div>
                <ul class="pagination">
                  <li {{if currentPage==1}} class="disabled" {{/if}}><a href="http://localhost/system/doc?currentPage=<%= currentPage - 1 %>">«</a></li>
                  <!-- {{pageCount}} -->
                  <% for(var i = 1; i <=pageCount; i++){ %>
                    
                    <li <% if (i==currentPage) { %> class="active" <% } %>>
                      <a href="http://localhost/system/doc?currentPage=<%= i %>"><%= i %> </a>
                    </li>
                  <% } %>
                  <!-- <li class="active"><span>1</span></li>
                  <li><a href="#1">2</a></li>
                  <li><a href="#1">3</a></li>
                  <li><a href="#1">4</a></li>
                  <li><a href="#1">5</a></li>
                  <li><a href="#1">6</a></li>
                  <li><a href="#1">7</a></li> -->
                  <!-- <li><a href="#1">8</a></li>
                  <li class="disabled"><span>...</span></li>
                  <li><a href="#!">14452</a></li>
                  <li><a href="#!">14453</a></li> -->
                  <li  {{if currentPage==pageCount}} class="disabled" {{/if}}><a href="http://localhost/system/doc?currentPage=<%= currentPage*1 + 1 %>">»</a></li>
                </ul>
       
              </div>
            </div>
          </div>
          
        </div>
        
      </div>
      
    </main>
    <!--End 页面主要内容-->
  </div>
</div>

<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/perfect-scrollbar.min.js"></script>
<script type="text/javascript" src="js/main.min.js"></script>

<script type="text/javascript">
  $(function(){
      $('.search-bar .dropdown-menu a').click(function() {
          var field = $(this).data('field') || '';
          $('#search-field').val(field);
          $('#search-btn').html($(this).text() + ' <span class="caret"></span>');
      });
  
    // 点击删除按钮事件
      $('[lesson_id]').each(function (i,item) {
            $(item).on('click',function () {
                var lesson_id=$(this).attr('lesson_id');
                  $.ajax({
                        url:'http://localhost/system/del_lesson?lesson_id='+lesson_id,
                        type:'delete',
                            success:function(res){
                              $('.tooltip').remove();
                              // console.log(res)
                                  if (res.affectedRows>0) {
                                    $('tr').each(function (i,item) {
                                      if(item.children[1].innerHTML==lesson_id){
                                        $(item).remove();
                                      }
                                      })
                                      alert(`删除第${lesson_id}条成功`)
                                  }else{
                                    alert('删除失败')
                                  }
                            }
                  })
              })
        })
  })
  </script>
{{/block}}